body{
	margin: 0px;
	font-family: 'Roboto'
}
div.header{
	background-color:  #99ccff;
	height: 10vh;
	width: 100vw;
	position: fixed;
	top:0;
	z-index: 2;
}
a h1 {
	text-align:  center;
	text-decoration: underline;
}
h2{
	color: #66b3ff
}
p{
	color: #80bfff;
}

div.body{
	position: absolute;
	top:10vh;
	width: 100vw;
	z-index: 1;	
}

div.body h1 {
		color: #0080ff;
	}
div.news_container{
	margin: 5vh;
}
div.news_wrapper{
	box-shadow: 2px 5px #bfff80;
}

div.events_container{
	margin: 5vh;
}
div.event_wrapper{
	box-shadow: 2px 5px #ff8080;
}

